<div class="row">
    <div class="col-md-6">
        <div class="card card-body bg-primary ">
            <div class="text-white text-center">
                <h2>Dashboard Area</h2>
            </div>
        </div>
    </div>
</div>