<h1>Home Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, commodi consectetur dignissimos doloremque eaque eius fugiat minus nesciunt officiis placeat, praesentium quibusdam repellendus rerum sed sequi similique sit sunt, tenetur!</p>
<!--<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i>Login With Google</a>-->
<a href="/login" class="btn">Login</a>