<h1>Welcome</h1>
<p>Welcome to StoryBooks 1.0.0</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, commodi consectetur dignissimos doloremque eaque eius fugiat minus nesciunt officiis placeat, praesentium quibusdam repellendus rerum sed sequi similique sit sunt, tenetur!</p>
<!--<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i>Login With Google</a>-->
<a href="/login" class="btn red darken-1">Login</a>